@model Goldnote.Models.GoldNote
@inject Goldnote.Options options
@{
    ViewData["Title"] = "編集";
}

<h1>Edit</h1>

<h4>GoldNote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit"  enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="GoldNoteName" class="control-label"></label>
                <input asp-for="GoldNoteName" class="form-control" />
                <span asp-validation-for="GoldNoteName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Change" /> @Html.DisplayNameFor(model => model.Change)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WithDiscount" /> @Html.DisplayNameFor(model => model.WithDiscount)
                </label>
            </div>            <div class="form-group">
                <label asp-for="Destination" />

                <select asp-for="Destination" asp-items="options.Destinations" class="form-control ">
                    <option value="">送り先を選択してください</option>
                </select>
                <span asp-validation-for="Destination"></span>
            </div>
            <div class="form-group">
                <label asp-for="OnAccounting" class="control-label"></label>
                <input asp-for="OnAccounting" class="form-control" />
                <span asp-validation-for="OnAccounting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditCardMachine" class="control-label"></label>
                <input asp-for="CreditCardMachine" class="form-control" />
                <span asp-validation-for="CreditCardMachine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoldNoteSendingPaper" class="control-label"></label>
                <input asp-for="GoldNoteSendingPaper" class="form-control" />
                <span asp-validation-for="GoldNoteSendingPaper" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialOptions" class="control-label"></label>
                <input asp-for="SpecialOptions" class="form-control" />
                <span asp-validation-for="SpecialOptions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditDate" class="control-label"></label>
                <input asp-for="EditDate" class="form-control" />
                <span asp-validation-for="EditDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditerId" class="control-label"></label>
                <input asp-for="EditerId" class="form-control" disabled />
                <span asp-validation-for="EditerId" class="text-danger"></span>
            </div>
            @if (Model.ImageAdress != null)
            {
                <div class="form-group">
                    <label class="control-label"> 現在の画像</label>
                    <img src="/api/ImageModels/@Model.ImageAdress" />
                </div>
            }
            <div class="form-group">
                <label class="control-label">画像</label><br>

                <div class="btn-primary"><input class="notimg" type="radio" name="imageOverride" value="stay" /> <label>そのまま</label></div><br />

                @{

                    if (Model.ImageAdress != null)
                    {
                        <div class="btn-danger"><input class="notimg" type="radio" name="imageOverride" value="delete">  <label>削除</label></div><br />
                    }
                }

                <div class="btn-warning"> <input type="radio" class="imgedit" name="imageOverride" value="edit" /><label>差し替え</label></div>
                <input type="file" id="imgup" name="newimage" />
            </div>



            <div class="form-group">
                <input type="submit" value="保存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">リストに戻る</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        $("#imgup").hide();
        $(".imgedit").change(
            function () {
                $("#imgup").show('slow');
            }
        )

        $(".notimg").change(
            function () {
                $("#imgup").hide('slow');
            }
        )




    </script>





}
